html, body, #app, .theme-container {
  height 100%
}


.page .content, .page .page-edit, .page .page-nav {
  max-width: inherit;
  box-sizing border-box;
}

.theme-container.api-doc {
  .page {
    height 100%;
    padding-bottom 0;
  }

  .content {
    height 100%
    padding 0;
    overflow hidden;

    .api-frame {
      height: calc(100% - 3.6rem);
    }
  }

  .page-edit {
    display none;
  }
}
