@import "vars";
 
   
.xdh-map-dialog{
  display: flex;
  flex-flow: column;
  position: absolute;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
  background: $--popup-bg;
  color: $--popup-color; 
  overflow: hidden;
  &__header {
    flex: 0 0 30px;
    height: 30px;
    background: $--popup-title-bg;
    line-height: 30px;
    padding: 0 5px;
    cursor: move;
  }
  &__close {
    background: url(../sources/popup/close.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -3px;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
 
  &__body {
    flex: 1;
    position: relative;
    width: 100%;
    // flex-flow: column;
  }
  &__bottom{
    flex: 0 0 auto;
    padding: 2px 0;
    border-top: 1px solid $--border-color-base;
  }
  &.is-dark {
    background: $--popup-bg-dark;
    color: $--popup-color-dark;
    .xdh-map-popup__title {
      background: $--popup-title-bg-dark;
    }
    .xdh-map-popup__close {
      background: url(../sources/popup/close_dark.png);
    }
  }
}  