@import "vars";
 
   
.xdh-map-dialog{
  display: flex;
  flex-flow: column;
  position: absolute;
  background: $--dialog-bg;
  color: $--dialog-light-color;
  box-shadow: $--shadow-base; // 0 0 8px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
 
  &__header {
    flex: 0 0 30px;
    height: 30px;
    background: $--dialog-title-bg-light;
    line-height: 30px;
    padding: 0 5px;
    cursor: move;
  }
  &__close {
    background: url(../sources/popup/close.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -3px;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
 
  &__body {
    flex: 1;
    position: relative;
    width: 100%;
  }
  &__bottom{
    flex: 0 0 auto;
    padding: 2px 0;
    border-top: 1px solid $--border-color-base;
  }
 
   
  &.is-dark {
    .xdh-map-dialog__header {
      color: $--dialog-dark-color;
      background: $--dialog-title-bg-dark;
    }
    .xdh-map-dialog__close {
      background: url(../sources/popup/close_dark.png);
    }
  }
}  