@import "icon/iconfont.css";
@import "placement";
@import "pointer";
@import "popup";
@import "type";
@import "overview";
@import "scale";
@import "./zoom/range-set";
@import "./zoom/zoom";
@import "./scatter";
@import "./zoom";
@import "./measure";
.hidden {
  display: none;
  background: transparent;
}

.xdh-map {
  width: 100%;
  height: 100%;
  position: relative;

}



