@import "~ol/ol.css";
@import "vars";

.hidden {
  display: none;
  background: transparent;
}

.xdh-map {
  width: 100%;
  height: 100%;
  position: relative;

}

.xdh-map-placement {
  position: absolute;
  &.left-top {
    left: 0;
    top: 0;
  }
  &.center-top {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  &.right-top {
    right: 0;
    top: 0;
  }
  &.left-center {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &.center-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &.right-center {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &.left-bottom {
    left: 0;
    bottom: 0;
  }
  &.center-bottom {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  &.right-bottom {
    right: 0;
    bottom: 0;
  }
}

.xdh-map-pointer {
  &__btn {
    font-size: 13px;
    background: $--pointer-bg;
    border-radius: 4px;
    color: $--pointer-color;
    padding: 5px;
    text-align: center;
    min-width: 150px;
    cursor: pointer;
    &.is-lock {
      background: $--pointer-lock-bg;
      color: $--pointer-lock-color;
    }
  }
}

.xdh-map-popup {
  font-size: 14px;
  position: relative;
  min-width: 120px;
  background: #fff;
  color: #666;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
  border-radius: 2px;

  &::after, &::before {
    font-size: 0;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
  }
  &::before {
    border: 9px solid transparent;
    border-top: 13px solid rgba(50, 50, 50, .3);
  }

  &__title {
    height: 30px;
    background: #ddd;
    line-height: 30px;
    border-radius: 2px 2px 0 0;
    padding: 0 5px;
  }
  &__body {
    padding: 5px;
  }
  &__close {
    background: url(../sources/popup/close.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -3px;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  &.is-dark {
    background: rgba(0, 0, 0, .8);
    color: #eee;
    .xdh-map-popup__title {
      background: rgba(0, 0, 0, .9);
    }
    .xdh-map-popup__close {
      background: url(../sources/popup/close_dark.png);
    }

    &::after, &::before {
      border-top: 12px solid rgba(0, 0, 0, .7);
    }
    &::before {
      border-top: 13px solid rgba(50, 50, 50, .3);
    }
  }

}