@import './_vars.scss';

.xdh-map-measure{
  &__tooltips{
    position: relative;
    width:5px;
    height: 5px;
    &>div{
      display:inline-block;
      position: absolute;
      width: max-content;
      padding: 0 3px;
      font-size: 12px;
      color: white;
      border-radius: 3px;
      background: rgba(0,0,0,0.6);
    }
    .help{
      line-height: 24px;
      left: 10px;
      top: -3px;
    }
    .range{
      left: 0;
      transform:translateX(-50%);
      &.length{
        top: -34px;
        line-height: 24px;
      }
      &.area{
        top: -50px;
        line-height: 28px;
        sup{
          line-height: 1;
          font-size: 10px;
        }
      }
    }
  } 
  &__mark {
    position: relative;
    border-radius: 3px;
    padding: 0 5px;
    line-height: 24px;
    font-size: 12px;
    box-shadow: 0 0 0 1px white;
    sup{
      line-height: 1;
      font-size: 10px;
    }
    em{
      position: absolute;
      display: block;
      width: 0;height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      bottom: -10px;
      left: 50%;
      margin-left: -4px;
    }
    .close{
      box-sizing: border-box;
      position: absolute;
      display: block;
      top: -10px;
      right: -8px;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      border-radius: 50%;
      transform: scale(0.8);
      cursor: pointer;
    }
  }
}