@import "vars";

.xdh-map-type {
  padding: 4px 4px 0 4px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background: #fff;
  }
  img {
    border-radius: 2px;
    display: block;
  }

  &__layer {
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 3px;
    border: 2px solid #aaa;
    cursor: pointer;
    border-radius: 2px;
    &.active {
      border-color: $--type-active-color;
      .xdh-map-type__title {
        background: $--type-active-color;
        color: $--type-active-text-color;
      }
    }
    &:hover {
      border-color: $--type-active-color;
      .xdh-map-type__title {
        background: $--type-active-color;
        color: $--type-active-text-color;
      }
    }
  }
  &__title {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1px 4px;
    color: $--type-color;
  }
}