@import './_vars.scss';
.ol-viewport, .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ol-control {
  // position: absolute;
  // border-radius: 4px;
  // padding: 2px;
  button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em; 
    border: none;
    border-radius: 2px;
    outline:none;
    cursor: pointer;
    &::-moz-focus-inner {
      border: none;
      padding: 0;
    }
  }
}

.xdh-zoom-panel{
  .ol-control {
    position: relative;
    border-radius: 4px;
  }
  
  .xdh-zoom{
    // border: 1px solid red;
    .xdh-zoom-in, .xdh-zoom-out{ 
      border-radius: 50%;
      box-shadow: $--zoom-panel-btn-shadow;
    } 
    .xdh-zoom-in, .xdh-zoom-out{
      color: $--zoom-panel-btn-color;
      background-color: $--zoom-panel-btn-bg;
    }
  }

  .xdh-zoom-slider{
    position: absolute;
    background-color: $--zoom-panel-slider-bg;
    button {
      position: relative;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      box-shadow: $--zoom-panel-btn-shadow;
    }
    .xdh-zoom-slider-thumb {
      background-color: $--zoom-panel-slider-btn-bg;
    }
    a.xdh-zoom-slider-handle:hover {
      background-color: $--zoom-panel-slider-btn-bg;
    }
  }

  &.top, &.bottom{
    .xdh-zoom-out{
      position: absolute;
      right: 0px;
      top: 0px; 
    } 
    .xdh-zoom-slider{
      width: calc(100% - 90px);
      left: 45px;
      top: 12px;
      margin-top: 3px; 
      height: 5px;
      button {
        margin-top: -6px;
      }
    }
  }
  &.left, &.right{
    .xdh-zoom{
      height: 100%;
    }
    .xdh-zoom-out{
      position: absolute;
      // left: 0px;
      bottom: 0px;  
    }
    .xdh-zoom-slider{
      height: calc(100% - 90px);
      top: 45px;
      left: 16px;
      // margin-left: 3px; 
      width: 5px;
      button {
        margin-left: -5px;
      }
    }
  } 
}

