@import './_vars.scss';
.ol-viewport, .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ol-control {
  // position: absolute;
  
  // padding: 2px;
  button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em; 
    border: none;
    border-radius: 2px;
    outline:none;
    cursor: pointer;
    &::-moz-focus-inner {
      border: none;
      padding: 0;
    }
  }
}

.xdh-zoom-tools{
  .ol-control {
    position: relative;
    padding: 2px;
    border-radius: 4px;
  }

  .xdh-zoom{
    background-color: $--zoom-bg; 
    
    .xdh-zoom-in, .xdh-zoom-out{ 
      border-radius: 2px 2px 0 0;
    } 
    .xdh-zoom-in, .xdh-zoom-out{
      color: $--zoom-btn-color-light;
      background-color: $--zoom-btn-bg-light;
    }
  }

  .xdh-zoom-slider{
    display:none;
    margin-top: 3px; 
    height: 200px;
    background-color: $--zoom-slider-bg-light;
    button {
      position: relative;
      height: 10px;
    }
    .xdh-zoom-slider-thumb {
      background-color: $--zoom-slider-btn-bg-light; 
    }
    a.xdh-zoom-slider-handle:hover {
      background-color: $--zoom-slider-btn-bg-light;
    }
  }

  &.is-dark{
    .xdh-zoom-in, .xdh-zoom-out {
      color: $--zoom-btn-color-dark;
      background-color: $--zoom-btn-bg-dark;
    }

    .xdh-zoom-slider{
      background-color: $--zoom-slider-bg-dark;  
      .xdh-zoom-slider-thumb {
        background-color: $--zoom-slider-btn-bg-dark; 
      }
      a.xdh-zoom-slider-handle:hover {
        background-color: $--zoom-slider-btn-bg-dark;
      }
    }
  }
  &.show-slider, &.show-slider-inside{
    .xdh-zoom-slider{
      display:block;
    }
  }
  &.show-slider-inside{
    .xdh-zoom .xdh-zoom-out{
      margin-top: 200px;
    }
    .xdh-zoom-slider{
      position: absolute; 
      margin-top: 0px; 
      top: 28px; 
      background-color: transparent;
    }
  }

  &.horizontal{
    .xdh-zoom{
      button{
        display: inline-block; 
      }
    }
    &.show-slider, &.show-slider-inside{
      .xdh-zoom .xdh-zoom-out{
        margin-top: 0;
        margin-left: 200px;
      }
    }
    &.show-slider, &.show-slider-inside{
      .xdh-zoom-slider{
        position: absolute; 
        width: 200px;
        height: 30px;
        left: 30px;
        top: 0;
        margin-top: 0px;
        background-color: transparent;
        button {
          position: relative;
          width: 10px;
          height: 25px;
        }
      } 
    }
  }
}

