$--range-bg: #FAFCFF;
$--range-color: #CCCCCA;
$--range-highlight: #7FB8FF;
.range-set{
  position: relative;
  display: flex;
  width: max-content;
  flex-flow: column;
  align-items: center;
  &__btn{
    flex: 0 0 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    font-weight: 800;
    color: $--range-color;
    background: $--range-bg;
    box-shadow: 0 0 1px 1px $--range-color;
    z-index: 2;
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 1px 2px $--range-color;
      color: $--range-highlight;
    }
  }
  &__track{
    flex: 1;
    width: 10px;
    box-shadow: 0 0 1px 0px $--range-color;
    background: no-repeat;
    background-color: $--range-bg;
    background-image: repeating-linear-gradient($--range-color 0, $--range-color 1px, transparent 0, transparent 3px),
                      repeating-linear-gradient($--range-color 0, $--range-color 1px, transparent 0, transparent 15px);
    background-size: 3px 100%, 5px 100%;
    background-position: center top;
  }
  .drag-wrap{
    position: absolute;
    width: 1px;
    left: 0;
    top: 28px;
    bottom: 28px;
    .ctrl{
      position: absolute;
      left: 0px;
      top: 0px;
      width: 26px;
      height: 18px;
      line-height: 18px;
      font-weight: 800;
      text-align:center;
      color: $--range-color;
      background: $--range-bg;
      box-shadow: inset 0 0 1px 1px $--range-color;
      &:hover{
        box-shadow: 0 0 1px 2px $--range-color;
        color: $--range-highlight;
      }
    }
    .drag{
      position: absolute;
      left: 2px;
      top: 0px;
      width: 26px;
      height: 18px;
      background: rgba(0,0,0,0);
      opacity: 0;
      cursor:pointer;
    }
  }
}