@import "./theme/_vars.scss";
.xdh-map-zoom{
  &__wrap{
    padding: 8px;
    &-simple{
      .btn{
        width: 20px;
        line-height: 20px;
        text-align:center;
        margin: 10px 0;
        background: $--scale-btn-bg;
        color: $--scale-btn-color;
        box-shadow: 0 0 0px 1px $--scale-highlight;
        cursor: pointer;
        &:hover{
          box-shadow: 0 0 1px 1px $--scale-highlight;
        }
      }
    }
  }
}
